# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
.venv/

# Environment
.env

# Outputs
outputs/*
!outputs/.gitkeep

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS
.DS_Store